:root{
    --cor-principal: #2694C4;
    --cor-secundaria: #89CAE8;
    --cor-terciaria: #91CFAD;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Mobile First*/

html, body{
    height: 100vh;
    width: 100vw;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: lightgray;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
}

header{
    background-color: var(--cor-principal);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    grid-row: 1 / 2;
}

header a{
    text-decoration: none;
    color: white;
    display: inline-block;
    transition: 0.2s;
}

header a:hover{
    text-decoration: underline;
}

header ul{
    list-style: none;
    margin-bottom: 5px;
}

header ul li{
    margin-bottom: 10px;
    font-size: 1.1em;
}

header button{
    background-color: var(--cor-terciaria);
    border: none;
    padding: 10px;
    border-radius: 10px;
    transition: 0.5s;
}

header button:hover{
    background-color: var(--cor-secundaria);
    transform: scale(1.1);
    color: white;
}

.logo img{
    border-radius: 15px;
}

main{
    grid-row: 2 / 3;
}

.section-after-apresentar{
    margin-top: 10px;
    background-color: white;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 10px;
}

.apresentar{
    background-image: linear-gradient(rgba(0, 0, 0, 0.482)), url(../img/dr.Rafael.png);
    display: flex;
    align-items: flex-end;
    padding: 20px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.apresentacao{
    grid-row: 2 / -1;
    color: white;
    padding: 10px;
    text-align: center;
    margin-top: 450px;
}

.apresentacao h2{
    margin-bottom: 20px;
}

.apresentacao p{
    margin-bottom: 20px;
}

.apresentar h2{
    color: var(--cor-terciaria);
}

.section-after-apresentar h2{
    font-weight: bold;
    color: var(--cor-principal);
}

.equipe-completa{
    width: 100%;
    aspect-ratio: 16 / 9;
    border-radius: 10px;
    margin-bottom: 10px;
}

.container-equipe{
    margin-top: 10px;
    margin-bottom: 10px;
}

.card-equipe{
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.253);
    padding: 10px;
    border-radius: 14px;
}

.card-equipe h3{
    margin-bottom: 7px;
}

.card-equipe p{
    letter-spacing: 0.3px;
    text-align: center;
}

.card-equipe img{
    margin: -10px;
    width: 100%;
    aspect-ratio: 16 / 9;
    border-radius: 10px;
    object-fit: cover;

    display: block;
    margin: auto;
}







