/*Telas maiores*/

@media screen and (min-width: 768px) {
    
    body{
        background-color: white;
    }


    main{
        width: 100%;
    }

    .section-after-apresentar{
        background-color: transparent;
        margin: 0;
        width: 100% !important;
    }

    .section-after-apresentar h2{
        text-align: left;
    }

    .section-after-apresentar img{
        width: 90%;
    }

    .container-equipe img{
        width: 100%;
        display: block;
    }

    article div{
        margin: 10px 20px;
    }

    .alinhar{
        display: flex;
    }

}